:root{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
html{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}
ul{
    list-style: none;
}
/*以上是整个网页的css设置*/
a:link{
    color: rgb(189, 189, 189);
    text-decoration: none;
}
a:visited{
    color: rgb(189, 189, 189);
}
a:hover{
    text-decoration: none;
}
a:active{
    color: rgb(73, 73, 73);
    text-decoration: none;
}
/*以上链接样式的css设置*/
.menu{
    position: relative;
}
.menu-toggle{
    position: absolute;
    top: -1.2em;
    right: 0.1em;
    border: 0;
    background-color: transparent;
    color: gray;
    font-size: 3em;
    width: 1em;
    height: 1em;
    line-height: 0.4em;
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;
}
.menu-toggle::after{
    position: absolute;
    top: 0.3em;
    left: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;
}
.menu-dropdown{
    display: none;
    position:absolute;
    right: 0;
    left: 0;
    margin: 0;
}
.menu.is-open .menu-dropdown{
    display: block;
}
.nav-menu{
    margin: 0;
    padding-left: 0;
    border: 1px solid #ccc;
    border-radius: 5vw;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.nav-menu > li + li{
    border-top: 1px solid #ccc;
}
.nav-menu > li > a{
    display: block;
    padding: 00.8em 1em;
    color: #fff;
    font-weight: normal;
}
/*以上是下拉按钮的css设置*/
.banner{
    width: auto;
    height: 50vw;
    background-color: black;
    border-radius: 5vw;
    padding: 15vw;
    margin-bottom: 5vw;
}
.banner > h1{
    color: rgb(255, 255, 255);
    text-align: right;
    margin-block-end: 5px;
}
.banner > p{
    color: rgb(255, 255, 255, 0.5);
    text-align: right;
    margin-block-start: 5px;
}
.rotation{
    
}
.left{
    width: 5vw;
    height: 5vw;
    background-color: #fff;
}
.rotation .right{
    width: 5vw;
    height: 5vw;
    background-color: #fff;
}
/*以上是banner的css设置*/
aside{
    display: none;
}
/*以上是产品分类的css设置*/
main{
    width: 100%;
    height: auto;
    border: #ccc 1px solid;
    border-radius: 5vw;
}
.product{
    width: 100%;
    height: auto;
}
.product-header > h2{
    display: inline-block;
    margin-left: 20px;
}
.product-header > p{
    display: inline-block;
    color: rgba(190, 190, 190, 0.497);
}
.product-card{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 10px;
}
.card{
    width: 100%;
    height: 300px;
    background-color: black;
    border-radius: 4vw;
}
.card > h3{
    color: #fff;
    margin-top: 200px;
    margin-left: 10px;
    font-weight: lighter;
}
.card > p{
    color: #fff;
    margin-left: 10px;
    font-weight: normal;
}
.turn-page-ul{
    width: 100%;
    text-align: right;
    padding-right: 20px;
}
.turn-page-ul > li{
    display: inline;
    margin-left: 5px;
}
/*以上是产品卡片的css设置*/
footer{
    width: 100%;
    height: auto;
    background-color: black;
    border-radius: 4vw;
    padding: 10px;
    margin-top: 20px;
}
.advertise{
    text-align: center;
    color: #fff;
}
.footer-sort{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
.footer-sort > ul{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.footer-sort > ul > li{
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
}
.footer-sort > p{
    margin-top: 20px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.568);
}