:root{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
html{
    font-size: 10px;
    color: #4e4d4d;
    font-family: 'Ubuntu', sans-serif;
}
main{
    max-width: 50rem;
    margin: 2rem auto;
    background: linear-gradient(#ddd6f3, #faaca8);
    border-radius: 2rem;
    padding: 1.5rem 1rem;
    box-shadow: 0px 5px 4px 0px #cecece;
}
main > h1{
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 1.5rem;
}
section{
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: inset -1px 1px 2px 0px #cecece;
}
section > div{
    padding: 1.5rem 0;
}
.bill{
    display: flex;
}
.bill > label{
    flex: 1;
    align-self: center;
}
.bill > input{
    flex: 3;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.total{
    font-size: 2rem;
    font-weight: bold;
}
.range{
    -webkit-appearance: none;
    width: 100%;
    height: 0.8rem;
    background-color: #eee;
    margin-top: 1.2rem;
    border-radius: 0.3rem;
    outline-color: #faaca8;
}
.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #faaca8;
    cursor: pointer;
    border: none;
}